html{
/*width: 97%;*/
	margin: 0 auto;
	background-color: #920783;
	scroll-behavior: smooth;

}
* {
	margin: 0;
	padding: 0; 
}
header {
	/*width: 97%; */
	margin: 0 auto;
	margin-top: 30px;
}
body { 
	margin: 0 auto;
}

#box1 {
	margin: 0 auto;
	padding-top: 20px;
	font-family: 'Abril Fatface', c
	oursive;	
	background-color: white;
}
#box1 > a {
	display: block;
	max-width: 97%;
	max-height: 100%;
	width: 200px;
	margin: 0 auto;
}

#box2 {
	/*width: 97%;*/
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
	text-align: center;
	background-color: white;
}
}
h1 {
	text-align: center;
	font-size: 30px;
}

footer {
	font-family: 'Manrope', sans-serif;
	font-size : 14px;
	color: white;
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}
section {
	width: 100%;
	height: 100%;
    display: none;
    padding: 30px 0 0 0;
    border-top: 1px;}

input {
	display: none;}

label {
	width: 80px;
    display: inline-block;
    margin: 0 0 -1px;
    padding: 5px;
    font-weight: 600;
    text-align: center;
    color: black;
    border: 1px solid transparent;}

label:hover {
    color: #23b8bc;
    cursor: pointer;
} 
input:checked +label {
    color: #920783;
}
input:checked ~ #poster {
	display: none;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
    display: block;
}


#content1 {
	width: 100%;
	height: 100%;
	margin-top: 180px; 
}


#content1 > .c1 {
	margin: 20px auto;
	border-style: solid;
	border-color: #bbb;
	font-family: 'Noto Sans KR', sans-serif;
}

#content2 {
	margin: 0 auto;

}

#content2 > p{
	font-size: 35px;
	font-family: 'Yeon Sung', sans-serif;
}

#content2 > .c2 {

}
#content2 > .c2 > .b1 {
	position: absolute;
	left: 10%;
	margin-top: 200px;
	padding: 5px;
	color: white;
	font-size: 30px;
	font-family: 'Yeon Sung', sans-serif;
	background-color: #23b8bc;
	border-radius: 0.4em;
}
#content2 > .c2 > .b2 {
	position: absolute;
	right: 10%;
	margin-top: 200px;
	padding: 5px;
	color: white;
	font-size: 30px;
	font-family: 'Yeon Sung', sans-serif;
	background-color: #23b8bc;
	border-radius: 0.4em;
}
#content2 > .c2 > .s1 {
	width : 90%;
	margin: 0 auto;
}
#content2 > .c2 > .s2 {
	/*width: 80%;*/
	margin: 0 auto;
}
#content3 {
	/*width: 80%;*/
	color: #778899;
}
#content4 {
	width: 800px;
	height: 500px;
	text-align: center;
	background-size: 800px;
	background-position: center;
	margin: 30px auto;
	padding: 0;
}

#content4 > .c4 {
	text-align: center;
	margin: 0 auto;
	vertical-align: middle;
}
#content4 > .c4 > #epti {
	text-align: center;
	margin: 0 auto;    
	vertical-align: middle;
}
#top {
	display: scroll;
	position: fixed;
	bottom: 30px;
	right: 50%;
	text-decoration: none;
}
